<div ng-controller="TodoDetailController as tdc">
    <form>
        <div class="form-group">
            <div class="checkbox form-padding">
                <label>
                    <input type="checkbox" ng-checked="tdc.todo.complete" ng-click="tdc.todo.complete = !tdc.todo.complete" ng-disabled="tdc.mode === ScreenMode.Insert">済み
                </label>
            </div>
            <div class="col-md-4">
                <label for="what">やるべきこと：</label>
            </div>
            <div class="col-md-8">
                <input id="what" name="what" type="text" class="form-control" ng-model="tdc.todo.what" />
            </div>
            <div class="btn-group top-buffer" role="group">
                <button type="button" class="btn btn-secondary btn-space" ng-show="tdc.mode === ScreenMode.Insert" ng-click="tdc.addTodo()" >登録</button>
                <button type="button" class="btn btn-secondary btn-space" ng-show="tdc.mode === ScreenMode.Update" ng-click="tdc.updateTodo()">更新</button>
                <button type="button" class="btn btn-secondary btn-space" ng-show="tdc.mode === ScreenMode.Update"  ng-click="tdc.deleteTodo()">削除</button>
            </div>
        </div>
    </form>
</div>